
/* =========================슬로건박스================================= */
@font-face {
    font-family: 'Marvin Visions Variable';
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/MarvinVisionsTrial-Variable.ttf");
  }
  
  .sloganbox {
    background-color: #1b1b1d;
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 15px;
  }
  
  .sloganbox:after {
      content: '';
      /* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/texture.svg); */
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 999;
      pointer-events: none;
      opacity: 0.2;
      filter: invert(1);
      background-size: cover;
  }
  #slogan {
      color: #F0020A;
    --weight: 10;
    font-family: 'Marvin Visions Variable';
    font-size: 6.5rem;
    font-weight: 170;
    background-size: contain;
    line-height: 0.8;
    margin: 0;
    text-align: left;
  }
  
  #slogan > * {
    /* color: hsl(347, 7%, 29%); */
    color: hsl(347, 7%, 29%);
    font-variation-settings: 'wght' var(--weight);
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /* ====================================================================== */
  /* //////////////////////이미지사진/////////////////////// */

.profileImg{
    width:150px;
    height:150px;
    border-radius: 70%;
    overflow: hidden;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: inline-block;
  }

  .profileImg-Img{
    width: 120%;
    height:120%;
    object-fit:cover;
    
}

  .profileArea{
      text-align: center;
  }
  .detailcontent{
      display: inline-block;
  }

  /* ===================언어 선호도============= */
  .progress1{
    position: relative;
    height: 15px;
    width: 10rem;
    border: 2px solid #f4a261;
    border-radius: 15px;
}
.progress1 .color1{
    position: absolute;
    background-color: red;
    width: 0px;
    height: 15px;
    border-radius: 15px;
    animation: progres 3s infinite linear;    
}


.progress2{
  position: relative;
  height: 15px;
  width: 10rem;
  border: 2px solid #f4a261;
  border-radius: 15px;
}
.progress2 .color2{
  position: absolute;
  background-color: blue;
  width: 0px;
  height: 15px;
  border-radius: 15px;
  animation: progres2 3s infinite linear;    
}


.progress3{
  position: relative;
  height: 15px;
  width: 10rem;
  border: 2px solid #f4a261;
  border-radius: 15px;
}
.progress3 .color3{
  position: absolute;
  background-color:orange;
  width: 0px;
  height: 15px;
  border-radius: 15px;
  animation: progres3 3s infinite linear;    
}

.progress4{
  position: relative;
  height: 15px;
  width: 10rem;
  border: 2px solid #f4a261;
  border-radius: 15px;
}
.progress4 .color4{
  position: absolute;
  background-color: green;
  width: 0px;
  height: 15px;
  border-radius: 15px;
  animation: progres4 3s infinite linear;    
}

.progress5{
  position: relative;
  height: 15px;
  width: 10rem;
  border: 2px solid #f4a261;
  border-radius: 15px;
}
.progress5 .color5{
  position: absolute;
  background-color: rgb(112, 176, 201);
  width: 0px;
  height: 15px;
  border-radius: 15px;
  animation: progres5 3s infinite linear;    
}

@keyframes progres{
  0%{
    width: 0%;
  }
  25%{
      width: 25%;
  }
  50%{
      width: 59%;
  }
  75%{
      width: 75%;
  }
  100%{
      width: 90%;
  }
}
@keyframes progres2{
  0%{
    width: 0%;
  }
  25%{
      width: 25%;
  }
  50%{
      width: 50%;
  }
  75%{
      width: 75%;
  }
  100%{
      width: 80%;
  }
}
@keyframes progres3{
  0%{
    width: 0%;
  }
  25%{
      width: 25%;
  }
  50%{
      width: 50%;
  }
  75%{
      width: 75%;
  }
  100%{
      width: 75%;
  }
}
@keyframes progres4{
  0%{
    width: 0%;
  }
  25%{
      width: 25%;
  }
  50%{
      width: 50%;
  }
  75%{
      width: 75%;
  }
  100%{
      width: 75%;
  }
}
@keyframes progres5{
  0%{
    width: 0%;
  }
  25%{
      width: 25%;
  }
  50%{
      width: 50%;
  }
  75%{
      width: 60%;
  }
  100%{
      width: 70%;
  }
}


/* ===================================글자입력================================ */
