
ul {
  background-color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

li { 
  /* float: left; */
  display: inline-block;
  font-size: 1.5rem;
}
li a {
  display: block;
  background-color: white;
  color: black;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}
li a.current {
  background-color: black;
  color: white;
}
li a:hover:not(.current) {
  background-color: white;
  color: gray;
}

