.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr) ;
    grid-template-columns:  repeat(2, 1fr) ;
   
  }

.title {
 font-size: 30px;
 font-weight: bold;
 font-family: ROKABold;
}
.ido{
  font-size: 20px;
  font-weight: bold;
  font-family: ROKABold;
  margin-top: 20px;
}
.idocon{
  margin-bottom: 20px;
  font-family:Cafe24Oneprettynight ;
  font-weight: bold;
  font-size: 20px;
}
.subcon{
  margin-left: 60px;
}
.titlecon{
  font-weight: bold;
  margin-left: 25px;
}

.upcon{
  margin-left: 40px;
}

.upcon{
  font-family:Cafe24Oneprettynight ;
  font-size: 20px;
  font-weight: bold;
}

.upcondetail{
  margin-bottom: 10px;
}
